<!DOCTYPE html>
<html>
    <head>
        <title>Log-in</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
           .nav.navbar-nav li a:hover{
               background-color: #424242;
           }
           body{
               font-family: 'Poppins', sans-serif;
               background-color: #222222;
               color: white;
               /* font-family: 'Playfair Display', serif; */
           }
           #topbutton{
                display: none;
                position: fixed;
                bottom: 20px;
                right: 30px;
                z-index: 99;
                font-size: 18px;
                border: none;
                outline: none;
                border-radius: 20px;
                padding-top: 8px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 6px;
            }
            input,select,textarea{
                height: 35px;
                border-radius: 5px;
                background-color: #3a3a3a;
            }
            input[type=file]{
                border-radius: 5px;
            }
            div.form-group select.form-control, input.form-control, textarea.form-control{
                background-color: #3a3a3a;
                color: white;
            }
            input.btn[type=file]:hover{
                color: grey;
            }
            div.contain{
                max-width: 40%;
                min-width: 400px;
            }
        </style>
    </head>
    <body>
        <!-- Nav Bar and Top Button -->
        <button id="topbutton" class="btn" style="background-color: #424242;" onclick="topFunction()"><span style="font-size: 18px;" class="glyphicon glyphicon-chevron-up"></span></button>
        <nav class="navbar navbar-inverse navbar-static-top" style="font-family: 'Lato', serif;">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="/" style="color: white;font-family: 'Playfair Display', serif;vertical-align: top;"><b>Writeen</b></a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="#" style="color: white;font-weight: 400;">About Us</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a data-toggle="modal" data-target="#myModal" style="color: white;font-weight: 400;"><span class="glyphicon glyphicon-edit"></span> Create</a></li>
                <li><a href="/login" style="color: white;font-weight: 400;"><span class="glyphicon glyphicon-log-in"></span> Log-in</a></li>
                <li><a href="/account" style="color: white;font-weight: 400;"><span class='glyphicon glyphicon-user'></span> Account</a></li>
              </ul>
            </div>
            </div>
        </nav>
        <!-- Create Pop-up -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color: #222222;">
                    <div class="modal-header" style="background-color: #222222;border-radius: 4px;">
                        <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove" style="color: white;"></span></button>
                        <p style="font-size: 20px;">Create : <select id="post_type" name="post_name" style="border: 0px;font-size: 16px;" onclick="changeformat()">
                            <option value="txt">Writing Piece</option>
                            <option value="art">Art</option>
                            <!-- <option value="ques">Question</option> -->
                        </select></p>
                    </div>
                    <div class="modal-body">
                        <div id="post_div">
                            <form action="/create/text" method="POST">
                                <b><textarea type="text" class="form-control" id="post_title" name="post_title" placeholder="Title (Required or *)" style="font-size: 16px;height: 40px;" oninput="changebtn()"></textarea></b>
                                <br>
                                <div class="form-group">
                                    <label for="post_genre">Genre : </label>
                                    <select id="post_genre" name="post_genre" class="form-control" style="border: 0px;">
                                        <option value="Business">Business*</option>
                                        <option value="Sports">Sports*</option>
                                        <option value="News">News*</option>
                                        <option value="Science">Science*</option>
                                        <option value="Tech">Technology*</option>
                                        <option value='Fiction'>Fiction*</option>
                                        <option value='Comedy'>Comedy*</option>
                                        <option value='Rom-com'>Rom-Com*</option>
                                        <option value='Fantasy'>Fantasy*</option>
                                        <option value='Horror'>Horror*</option>
                                        <option value='Mystery'>Mystery*</option>
                                        <option value='Drama'>Drama*</option>
                                        <option value='Histroy'>Histroy*</option>
                                        <option value='Politics'>Politics*</option>
                                        <option value='Sci-fi'>Sci-fi*</option>
                                        <option value='Poetry'>Poetry*</option>
                                        <option value='Adventure'>Adventure*</option>
                                    </select>
                                </div>
                                <br>
                                <textarea type="text" class="form-control" id="post_content" name="post_content" placeholder="Content (Required or *)" style="height: 400px;" oninput="changebtn()"></textarea>
                                <br>
                                <textarea type="text" class="form-control" id="post_media" name="post_media" placeholder="Media Links"></textarea>
                                <br>
                                <textarea type="text" class="form-control" id="post_citation" name="post_citation" placeholder="Citation"></textarea>
                                <br>
                                <div class="form-group">
                                    <label for="anonymous">Anonymous : </label><select style="border: 0px;" class="form-control" id="anonymous" name="anonymous"><option value="yes">Yes</option><option value="no" selected>No</option></select>
                                </div>
                                <br>
                                <center>
                                <input type="submit" class="btn btn-default" id="submit_btn" style="font-size: 18px; height: 40px;" value="Post" disabled=true>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <center>
        <div class="contain" style="background-color: #3a3a3a;height: 380px;border-radius:10px;">
            <h1><span class="glyphicon glyphicon-log-in" style="font-size: 26px;margin-top: 7%;"></span> Log-in</h1>
            <form action="/login" method="POST">
                <p style="color: #ff4d4d;font-size:19px;">{{ errmsg }}</p>
                <input type="text" id="acc_username" name="acc_username" class="form-control" placeholder="username" style="width: 80%;font-size: 20px;margin-bottom: 1%;">
                <input type="password" id="acc_password" name="acc_password" class="form-control" placeholder="password" style="width: 80%;font-size: 20px;">
                <table style="margin-bottom: 10px;">
                    <tr>
                        <th><input type="checkbox" id="remember_me" name="remember_me"></th>
                        <td>Remember Me</td>
                    </tr>
                </table>
                <input type="submit" class="btn btn-primary" value="Continue" style="font-size:medium;height: auto;">
            </form>
            <br>
            <a href="/signup" style="font-size: 16.5px;">Dont have an account?</a>
        </div>
        </center>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script>
            window.onload = function(){alertify.notify('File type not allowed', 'error', 3)};
        </script>
        {% endif %}
        {% endwith %}
        <script>
            var mybutton = document.getElementById("topbutton");
            window.onscroll = function(){scrollFunction()};

            function scrollFunction(){
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }

            function topFunction(){
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }

            function changeformat(){
                var post_div = document.getElementById('post_div');
                var post_type = document.getElementById('post_type').value;
                if (post_type == "txt"){
                    post_div.innerHTML = 
                `<form action="/create/text" method="POST">
                    <b><textarea type="text" class="form-control" id="post_title" name="post_title" placeholder="Title (Required or *)" style="font-size: 16px;height: 40px;" oninput="changebtn()"></textarea></b>
                    <br>
                    <div class="form-group">
                        <label for="post_genre">Genre : </label>
                        <select id="post_genre" name="post_genre" class="form-control" style="border: 0px;">
                            <option value="Business">Business*</option>
                            <option value="Sports">Sports*</option>
                            <option value="News">News*</option>
                            <option value="Science">Science*</option>
                            <option value="Tech">Technology*</option>
                            <option value='Fiction'>Fiction*</option>
                            <option value='Comedy'>Comedy*</option>
                            <option value='Rom-com'>Rom-Com*</option>
                            <option value='Fantasy'>Fantasy*</option>
                            <option value='Horror'>Horror*</option>
                            <option value='Mystery'>Mystery*</option>
                            <option value='Drama'>Drama*</option>
                            <option value='Histroy'>Histroy*</option>
                            <option value='Politics'>Politics*</option>
                            <option value='Sci-fi'>Sci-fi*</option>
                            <option value='Poetry'>Poetry*</option>
                            <option value='Adventure'>Adventure*</option>
                        </select>
                    </div>
                    <br>
                    <textarea type="text" class="form-control" id="post_content" name="post_content" placeholder="Content (Required or *)" style="height: 400px;" oninput="changebtn()"></textarea>
                    <br>
                    <textarea type="text" class="form-control" id="post_media" name="post_media" placeholder="Media Links"></textarea>
                    <br>
                    <textarea type="text" class="form-control" id="post_citation" name="post_citation" placeholder="Citation"></textarea>
                    <br>
                    <div class="form-group">
                        <label for="anonymous">Anonymous : </label><select style="border: 0px;" class="form-control" id="anonymous" name="anonymous"><option value="yes">Yes</option><option value="no" selected>No</option></select>
                    </div>
                    <br>
                    <center>
                    <input type="submit" class="btn btn-default" id="submit_btn" style="font-size: 18px; height: 40px;" value="Post" disabled=true>
                    </center>
                </form>`
                }
                if (post_type == "art"){
                    post_div.innerHTML = 
                `<form action="/create/art" method="POST" enctype="multipart/form-data">
                    <b><textarea type="text" class="form-control" id="post_title" name="post_title" placeholder="Title (Required or *)" style="font-size: 16px;height: 40px;" oninput="changebtn()"></textarea></b>
                    <br>
                    <div class="form-group">
                        <label for="post_genre">Genre : </label>
                        <select id="post_genre" name="post_genre" class="form-control" style="border: 0px;">
                            <option value="Business">Business*</option>
                            <option value="Sports">Sports*</option>
                            <option value="News">News*</option>
                            <option value="Science">Science*</option>
                            <option value="Tech">Technology*</option>
                            <option value='Fiction'>Fiction*</option>
                            <option value='Comedy'>Comedy*</option>
                            <option value='Rom-com'>Rom-Com*</option>
                            <option value='Fantasy'>Fantasy*</option>
                            <option value='Horror'>Horror*</option>
                            <option value='Mystery'>Mystery*</option>
                            <option value='Drama'>Drama*</option>
                            <option value='Histroy'>Histroy*</option>
                            <option value='Politics'>Politics*</option>
                            <option value='Sci-fi'>Sci-fi*</option>
                            <option value='Poetry'>Poetry*</option>
                            <option value='Adventure'>Adventure*</option>
                        </select>
                    </div>
                    <br>
                    <input type="file" class="btn" id="post_content" name="post_content" placeholder="Content (Required or *)" style="font-size:15px;" oninput="changebtn()">
                    <br>
                    <textarea type="text" class="form-control" id="post_media" name="post_media" placeholder="Captions"></textarea>
                    <br>
                    <textarea type="text" class="form-control" id="post_citation" name="post_citation" placeholder="Citation"></textarea>
                    <br>
                    <div class="form-group">
                        <label for="anonymous">Anonymous : </label><select style="border: 0px;" class="form-control" id="anonymous" name="anonymous"><option value="yes">Yes</option><option value="no" selected>No</option></select>
                    </div>
                    <br>
                    <center>
                    <input type="submit" class="btn btn-default" id="submit_btn" style="font-size: 18px; height: 40px;" value="Post" disabled=true>
                    </center>
                </form>`
                }
            }

            function changebtn(){
                var btn = document.getElementById('submit_btn');
                var title = document.getElementById('post_title').value;
                var content = document.getElementById('post_content').value;
                if (title !== "" && content !== ""){
                    btn.disabled = false;
                    btn.className = "btn btn-primary"
                }
                else{
                    btn.disabled = true;
                    btn.className = "btn btn-default"
                }
            }
        </script>
    </body>
</html>