<!DOCTYPE html>
<html>
    <head>
        <title>Your Posts - Writeen</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
           .nav.navbar-nav li a:hover{
               background-color: #424242;
           }
           body{
               font-family: 'Poppins', sans-serif;
               background-color: #222222;
               color: white;
               /* font-family: 'Playfair Display', serif; */
           }
           #topbutton{
                display: none;
                position: fixed;
                bottom: 20px;
                right: 30px;
                z-index: 99;
                font-size: 18px;
                border: none;
                outline: none;
                border-radius: 20px;
                padding-top: 8px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 6px;
            }
            input,select,textarea{
                height: 35px;
                border-radius: 5px;
                background-color: #3a3a3a;
                border-color: lightgray;
            }
            input[type=file]{
                border-radius: 5px;
            }
            div.form-group select.form-control, input.form-control, textarea.form-control{
                background-color: #3a3a3a;
                color: white;
            }
            input.btn[type=file]:hover{
                color: grey;
            }
        </style>
    </head>
    <body>
        <!-- Nav Bar and Top Button -->
        <button id="topbutton" class="btn" style="background-color: #424242" onclick="topFunction()"><span style="font-size: 18px;" class="glyphicon glyphicon-chevron-up"></span></button>
        <a href="/account"><span class="glyphicon glyphicon-arrow-left" style="color: white;font-size:25px;margin-top:1%;margin-left:1%;"></span></a>
        <!-- Search Bar -->
        <div id="search_div" style="float: right;margin-right: 1%;max-width:500px;margin-top:1%;">
            <form action="/searchyourposts" method="POST">
                <input type="searchyourposts" id="search_bar" name="search_bar" style="border-radius: 5px;width:180px;" placeholder="Search">
                <select id="filter" name="filter" style="border-radius: 5px;border: 0px;width:60px;" oninput="changeopt()">
                    <option value="title">Title</option>
                    <option value="genre">Genre</option>
                    <option value="all">All</option>
                    <!-- <option value="questions">Question</option> -->
                </select>
                <input type="submit" class="btn btn-primary" value="Sort">
                <a class="btn btn-default" href="/clearfilters">Clear</a>
            </form>
        </div>
        <br><br>
        <div style="margin-left:4.5%;">
            {% for post in posts %}
            <h3 style="max-width: max-content;font-size:2.5rem;"><b>{{post.post_title}} <a style="font-size: 14px;height:max-content;" class="btn btn-danger">0 Likes</a></b></h3>
            {% if len(post.post_creator.split('~')) == 2 %}
            <span><i>By {{post.post_creator.split('~')[0]}}</i>, Genre : {{post.post_genre}}, {{post.post_publishtime}}</span>
            {% endif %}
            {% if len(post.post_creator.split('~')) == 1 %}
            <span><i>By {{post.post_creator}}</i>, Genre : {{post.post_genre}}, {{post.post_publishtime}}</span>
            {% endif %}
            <hr style="width: 20%; text-align:left;margin-left:0;">
            {% if post.post_content in art %}
            <img style="max-width: 75%;max-height: 75%;min-width: 20%;min-height: 20%;" src=../static/{{post.post_content}}>
            <br>
            {% else %}
            <p style="font-size: 16px;width:90%;">{{post.post_content}}</p>
            {% endif %}
            {% if post.post_media != "" %}
            {% if post.post_content in art%}
            <br>
            <p style="font-size:14px;width:80%;word-break:break-all;"><b>Caption : </b>{{post.post_media}}</p>
            {% else %}
            <br>
            <p>Media Links</p>
            <p style="font-size:14px;width:80%;word-break:break-all;">{{post.post_media}}</p>
            {% endif %}
            {% endif %}
            {% if post.post_citation != "" %}
            <br>
            <p>Citation</p>
            <p style="font-size: 14px;width:80%;word-break:break-all;">{{post.post_citation}}</p>
            {% endif %}
            <br><hr width="90%" style="margin-left: 0;"><br>
            {% endfor %}
        </div>
        <script>
            var mybutton = document.getElementById("topbutton");
            window.onscroll = function(){scrollFunction()};

            function scrollFunction(){
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }

            function topFunction(){
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
            function changeopt(){
                var search_div = document.getElementById('search_div');
                var filter = document.getElementById('filter');
                if (filter.value == "genre"){
                    search_div.innerHTML = 
                `<form action="/searchyourposts" method="POST">
                    <select id="search_bar" name="search_bar" style="border-radius: 5px;border: 0px;width:175px;">
                        <option value="Business">Business*</option>
                        <option value="Sports">Sports*</option>
                        <option value="News">News*</option>
                        <option value="Science">Science*</option>
                        <option value="Tech">Technology*</option>
                        <option value='Fiction'>Fiction*</option>
                        <option value='Comedy'>Comedy*</option>
                        <option value='Rom-com'>Rom-Com*</option>
                        <option value='Fantasy'>Fantasy*</option>
                        <option value='Horror'>Horror*</option>
                        <option value='Mystery'>Mystery*</option>
                        <option value='Drama'>Drama*</option>
                        <option value='Histroy'>Histroy*</option>
                        <option value='Politics'>Politics*</option>
                        <option value='Sci-fi'>Sci-fi*</option>
                        <option value='Poetry'>Poetry*</option>
                        <option value='Adventure'>Adventure*</option>
                    </select>    
                    <select id="filter" name="filter" style="border-radius: 5px;border: 0px;width:65px;" oninput="changeopt()">
                        <option value="title">Title</option>
                        <option value="genre" selected>Genre</option>
                        <option value="all">All</option>
                        <!-- <option value="questions">Question</option> -->
                    </select>
                    <input type="submit" class="btn btn-primary" value="Sort">
                    <a class="btn btn-default" href="/clearfilters/index">Clear</a>
                </form>`
                }
                else if (filter.value == "title"){
                    search_div.innerHTML = 
                `<form action="/searchyourposts" method="POST">
                    <input type="search" id="search_bar" name="search_bar" style="border-radius: 5px;width:180px;" placeholder="Search">
                    <select id="filter" name="filter" style="border-radius: 5px;border: 0px;width:60px;" oninput="changeopt()">
                        <option value="title" selected>Title</option>
                        <option value="genre">Genre</option>
                        <option value="all">All</option>
                        <!-- <option value="questions">Question</option> -->
                    </select>
                    <input type="submit" class="btn btn-primary" value="Sort">
                    <a class="btn btn-default" href="/clearfilters">Clear</a>
                </form>`
                }
                else if (filter.value == "all"){
                    search_div.innerHTML = 
                `<form action="/searchyourposts" method="POST">
                    <input type="search" id="search_bar" name="search_bar" style="border-radius: 0px;width:0;visibility: hidden;height:0px;" placeholder="Search">
                    <select id="filter" name="filter" style="border-radius: 5px;border: 0px;width:240px;" oninput="changeopt()">
                        <option value="title">Title</option>
                        <option value="genre">Genre</option>
                        <option value="all" selected>All</option>
                        <!-- <option value="questions">Question</option> -->
                    </select>
                    <input type="submit" class="btn btn-primary" value="Sort">
                    <a class="btn btn-default" href="/clearfilters">Clear</a>
                </form>`
                }
                //else if (filter.value == "questions"){
                //    search_div.innerHTML = 
                //`<form action="/search" method="POST">
                //    <input type="search" id="search_bar" name="search_bar" style="border-radius: 5px;" placeholder="Search">
                //    <select id="filter" name="filter" style="border-radius: 5px;border: 0px;" oninput="changeopt()">
                //        <option value="title">Title</option>
                //        <option value="genre">Genre</option>
                //        <option value="author">Author</option>
                //        <option value="questions" selected>Question</option>
                //    </select>
                //    <input type="submit" class="btn" value="Sort">
                //</form>`
                //}
            }
        </script>
    </body>
</html>
